/node_modules/
/public/hot/
/public/storage/
/storage/*.key
.phpunit.result.cache
coverage.xml
/vendor/
/.idea/
.env
!/config/database.php
teller_cert.pem
teller_pk.pem
/docker/wsl/DockerDesktopWSL/
/.phpunit.cache/
composer.lock
